= simple_form_for @session do |f|
  = f.input :code, :label => 'Номер'
  = f.input :s_date,
    label:  'Дата проведення',
    start_year: Date.today.year - 20,
    end_year: Date.today.year
  = f.button :submit, 'Зберегти'
