 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "daterangepicker-bs3";

 textarea {
  max-width: 100%;
}
.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  padding-top: 5px;
}
.panel-heading a:not(.btn) {
  color: #337ab7
}
.panel-heading span {
  margin-left: 10px;
}
.controls-3 {
  width: 88px
}
.controls-2 {
  width: 64px
}
